* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* mobile */
@media only screen and (max-width: 400px) {
    html {
        background: url(../images/esm_m.gif) center no-repeat;
        background-color: #000000;
        background-attachment: fixed;
    }
}

/* tablet */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    html {
        background: url(../images/esm_t.gif) center no-repeat;
        background-color: #000000;
        background-attachment: fixed;
    }
}

/* desktop */
@media only screen and (min-width: 961px) {
    html {
        background: url(../images/esm.gif) center no-repeat;
        background-color: #000000;
        background-attachment: fixed;
    }
}